<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="28"
        tools:replace="android:usesCleartextTraffic">

        <!-- Fix Firebase conflict -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="attendance_alerts"
            tools:replace="android:value" />

    </application>

</manifest>